/* ImageList.css */
.ImageList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    padding: 20px;
    justify-items: center;
}

.ImageList .image-container {
    width: 100%; 
    max-width: 200px; 
}